<!DOCTYPE html>
<html>
<head lang="en" style="color-scheme: dark only;">
  <script src="https://cdn.jsdelivr.net/npm/eruda" onload="eruda.init()"></script>
	<title>TalkRN</title>
  <link rel="icon" href="https://img.icons8.com/pulsar-color/420/chat.png">
  <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.3/dist/purify.min.js"></script>
  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>
  <link href="/assets/style.css" rel="stylesheet" />
</head>

<body>
  <div id="userinfo">
    <h1>TalkRN</h1>
    <div id="help">
      <p><strong>$commands</strong> to view commands</p>
      <p><strong>$rules</strong> to view the rules</p>
    </div>
    <div id="online-users">
      <h3>Online Users:</h2>
      <ul id="userList">
        <li>Under construction 🚧</li>
      </ul>
      <button type="button" class="expand"></button>
    </div>
    <ul id="usercard">
      <li>Full Username:
        <strong <% if (flair) { %>style="color: <%= flair.usernameColor %>;"<% } %>>
          <%= username %><% if (flair) { %> <span style="color: <%= flair.color %>; background-color: <%= flair.bg %>;">[<%= flair.text %>]</span><% } %>
        </strong>
      </li>
      <li>Actual Name: <%= username %></li>
      <li>User ID: <%= useridrepl %></li>
    </ul>
    <form action="/signout" method="post">
      <button id="signoutbutton" type="submit">SIGN OUT</button>
    </form>
  </div>
  <div id="main-area">
    <ul id="messages"></ul>
    <div id="sub-area"></div>
    <% if (!muted) { %>
  	<form id="form" onsubmit="return false">
  		<input id="input" autocomplete="off" placeholder="Message" />
      <button>Send</button>
    </form>
    <% } %>
  </div>
  <script src="/assets/script2.js"></script>
  <script>
    const username = '<%= username %>';
    const modslist = JSON.parse('<%= modslist %>'.replace(/&#34;/g, '"'));
    const pfp = '<%= profileImage %>';
    const useridrepl = '<%= useridrepl %>';
    const muted = JSON.parse('<%= muted %>');
    const spf = JSON.parse('<%= spf %>'.replace(/&#34;/g, '"')); 
  </script>
  <script src="/assets/script.js"></script>
</body>
</html>